{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('MDP.validmail.forgot') }}">
            <legend>Envoie nouveau mot de passe</legend>
            {% if erreurs is defined %}
                <div class="invalid-feedback">{{erreurs}}</div>
            {% endif %}
            <div class="form-group">
                <label>Username :</label>
                <input name="username"  type="text"  size="18" value="" class="form-control {% if erreurs is defined %}is-invalid{% endif %}" >
            </div>
            <div class="form-group">
                <label>Email associé :</label>
                <input name="email" type="text" value="" class="form-control {% if erreurs is defined  %}is-invalid{% endif %}"/>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
{% endblock %}